
<header>
    <a href="/index.html"><h1>Seda & Brillo</h1></a>
        <div class="inicioDeSesion"><a class="enlace" href="vistaDeLogin.html">Inicio de sesion</a></div>
        <div>
        <a class="enlace" href="vistaDeRegistro.html">Registrate</a>
        </div>
        <div class="buscador">
            <label><strong>Buscar</strong></label>
            <input>
        </div>
        <nav>
            <ul id="seccionesLink">
                <li class="nav-bar"><a class="enlace" href="">Link seccion1</a></li>
                <li class="nav-bar"><a class="enlace" href="">Link seccion2</a></li>
                <li class="nav-bar"><a class="enlace" href="">Link seccion3</a></li>
                <li class="nav-bar"><a class="enlace" href="">Link seccion4</a></li>
                <li class="nav-bar"><a class="enlace" href="">Link seccion5</a></li>
            </ul>
        </nav>
</header>