
<header class="main-header">
    <div class="main-header-bar">
        <a href="/login">Iniciar sesión</a>
        <a href="/user/register">Registrarse</a>
        <a href="/user/perfil"><i class="fas fa-user"></i></a>
        <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <h1 class="titulo-principal"><a href="/">Seda & Brillo</a></h1>
        
    <nav>
        <div>
            <form class="search-form">
                <input placeholder="Buscar productos, marcas" type="text" name="keywords" class="search">                            
                <button id="boton-busqueda"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>           
    <nav>
        <ul id="seccionesLink">
            <li class="nav-bar"><a class="enlace" href="">Cortes Hombre</a></li>
            <li class="nav-bar"><a class="enlace" href="">Cortes Mujer</a></li>
            <li class="nav-bar"><a class="enlace" href="">Shampoo & Acondicionador</a></li>
            <li class="nav-bar"><a class="enlace" href="">Tinturas</a></li>
        </ul>
    </nav>
</header>