
<header class="main-header">
    <div class="main-header-bar">
        <!--<% if(typeof(usuarioLogueado) != Null){ %>
            <a href="/user/logout">Cerrar sesi贸n</a>
            <a href="/user/perfil"><i class="fas fa-user"></i></a>
         <%} else { %> 
            <a href="/user/login">Iniciar sesi贸n</a>
            <a href="/user/register">Registrarse</a>
          <%} %> -->
        <a href="/user/login">Iniciar sesi贸n</a>
        <a href="/user/register">Registrarse</a>
        <a href="/user/perfil"><i class="fas fa-user"></i></a>
        <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <h1 class="titulo-principal"><a href="/">Seda & Brillo</a></h1>
        
    <nav>
        <div>
            <form class="search-form">
                <input placeholder="Buscar productos, marcas" type="text" name="keywords" class="search">                            
                <button id="boton-busqueda"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>           
    <nav>
        <ul id="seccionesLink">
            <li class="nav-bar"><a class="enlace" href="">Coloraci贸n</a></li>
            <li class="nav-bar"><a class="enlace" href="">Cuidado del cabello</a></li>
            <li class="nav-bar"><a class="enlace" href="">Styling</a></li>
            <li class="nav-bar"><a class="enlace" href="">Shampoo y acondicionador</a></li>
            <li class="nav-bar"><a class="enlace" href="">Contacto</a></li>
        </ul>
    </nav>
</header>