<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Seda & Brillo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="normalize.css" />
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include ("./partials/header") %>
        <section class="centroDeLaPag">
            <article>
                <h4>Dale un vistazo a nuestros ultimos productos!</h4>
                <a href="/detalledeproducto"><img id="imgShampoo" width="300" height="300" src="/img/shampoo-color-protect.jpg" alt="Foto shampoo"></a>
            </article>
            <article>
                <ul>
                    <h4>Promociones</h4>
                    <li class="lista-promos"><a class="enlace" href="">Shampoos 20% off</a></li>
                    <li class="lista-promos"><a class="enlace" href="">Enjuagues 20% off</a></li>
                    <li class="lista-promos"><a class="enlace" href="">Tinturas 20% off</a></li>
                </ul>
                </article>
                <article id="a3">
                <h4>Chequea nuestros productos en oferta!</h4>
                <a href=""><img width="300" height="300" src="/img/shampoosEnPromo.jpg" alt="Promociones"></a>
            </article>    
        </section>
       
        </div>  
        <br>
        <br>

    <%- include ("./partials/footer") %> 
    </body>
</html>