<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Seda & Brillo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">    
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include ("./partials/header") %>
        <section class="centroDeLaPag">
            <div class="container">
                <article>
                    <h4>Dale un vistazo a nuestros últimos productos</h4>
                    <br>
                    <% for(let i=0;i<6;i++) { %>
                    <a href="/detalledeproducto/<%=products[i].id%>"><img id="imgShampoo" width="300" height="300" src="/img/<%=products[i].imagen%>" alt="Foto shampoo"></a>
                    <%}%>
                </article>
            </div>
            <div class="container">
                <article>
                    <h4>Líneas de Hairlogic:</h4>
                    <br>
                    <ul>
                        <li><a href="/productos"><img width="700" height="350" src="/img/repair-force-home.jpg" alt="Repair-force"></a></li>
                        <li><a href="/productos"><img width="700" height="350" src="/img/nutri-advance-home.jpg" alt="Nutri-advance"></a></li>
                        <li><a href="/productos"><img width="700" height="350" src="/img/color-protect-home.jpg" alt="Color-protect"></a></li>
                    </ul>
                </article>    
            </div>
        </section>
       
        </div>  
        <br>
        <br>

    <%- include ("./partials/footer") %> 
    </body>
</html>