<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/estilos.css"></link>
        <meta charset="utf-8">
    </head>
    <section>
        <article>
            <img src="" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
    </section>
</html>