<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"></link>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="normalize.css" />
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <%- include ("./partials/header") %>
    <section>
        <article>
            <img src="/img/shampoo-color-protect.jpg" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="/img/acondicionador-color-protect-.jpg" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
    </section>
</html>