*{
    box-sizing: border-box;
}
/**desde acá: agregué el css de styles del index, para que quede bien el header**/

header{
    background-color: #6687cf;
    margin: 0px;
    padding: 0px;
  }
h1 a{
    display: flex;
    justify-content: center;
    text-align: center;
    color:#384047;
    margin-top: 0px;
    padding: 10px;
    text-decoration: none;
  }
.main-header-bar{
    justify-content: flex-end;
    text-align: right;
    padding-top:20px;
}
.main-header-bar a{
    justify-content:space-around;
    padding:20px;
    font-size:27px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(43, 44, 44);
}

.search-form {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    background-color: white;
    border-radius: 4px;
  }
.search{
    border-bottom:none;
}
.search-buttom{
    background-color: white;
    color:#384047;
}
#seccionesLink {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
    list-style-type: lower-latin;
}

.nav-bar{
    list-style-type: none;
}

.enlace{
    text-decoration: none;
    color: black;
}
/**hasta aca**/
body {
    color: #384047;
    background-color: #94ace0;
  }
