*{
    box-sizing: border-box;
}
.main-header{
    width: auto;
}

.img[name=imglogo]{
    width: 80px;
    height: 100px;
    display:inline-block;
}
#barra{
    width:100%;

}
body.h1{
    text-align: center;
}
#busqueda{
    width: 20px;
    height: 40px;
    text-align: right;
}