h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color:#384047;
}

.inicioDeSesion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.buscador {
    display: flex;
    justify-content: flex-end;
}

#seccionesLink {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    list-style-type: lower-latin;
}

.nav-bar{
    list-style-type: none;
}

.enlace{
    text-decoration: none;
    color: black;
}

.centroDeLaPag {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.lista-promos {
    list-style: none;
    
}

#a3 {
    flex-grow: 0.2;
}

.redSocAtClientes{
    display: flex;
    justify-content: start;
}

.polYTerm {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #6687cf;
    color: #384047;
}