*{
    box-sizing: border-box;
}

header{
    
    background-image: url(../img/FotoSuperiorPeluqueriaHeader_05_3.jpg);
    margin: 0px;
    padding: 0px;
    background-size: cover;
   
}

.titulo-principal {
    color: #fff;
    font-weight: 700;
    font-size: 68px;
    text-decoration: none;
    }

h1 a{
    display: flex;
    justify-content: center;
    text-align: center;
    color:#f8f8f8;
    margin-top: 0px;
    padding: 10px;
    text-decoration: none;
}


.main-header-bar{
    justify-content: flex-end;
    text-align: right;
    padding-top:20px;
}
.main-header-bar a{
    justify-content:space-around;
    padding:20px;
    font-size:27px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(235, 236, 236);
}
.search-form{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: right;
}

#seccionesLink {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
    font-size:23px;
    color:inherit;
}

.nav-bar{
    list-style-type: none;
}
li{
  list-style-type: none;
  justify-content: right;
}
.enlace{
    text-decoration: none;
    color: black;
}

.centroDeLaPag {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.lista-promos {
    list-style: none;
    
}

#a3 {
    flex-grow: 0.2;
}

.redSocAtClientes{
    display: flex;
    justify-content: start;
}

.polYTerm {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

/*body{
    margin-top: 0px;
    margin: 0px;
    background-color: #94ace0;
    color: #384047;
    align-self:center;
}*/
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}
/** Productos**/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px;
}
/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid var(--light-gray);
  padding: 15px;
  height: 100%;
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px;
  font-size: 1.8em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}

.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
/**Agrego estilos para la vista de carrito**/

fieldset{
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #6687cf;
    border-radius: 8px;
    margin-bottom: 30px;
    border: none;
    flex-direction:column;
}

.articulo{
    flex-wrap:wrap;
}
h{
    text-align: center;
}

/**SUPONGO QUE ACÃ EMPIEZA EL CSS PARA EL FOOTER? **/
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  