<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="normalize.css" />
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include ("../partials/header") %>
        <fieldset>
            <section>
                <!--HAY QUE TRAER LOS DATOS DEL USUARIO-->
                <h1>Mi perfil</h1>
                <br>
                <h4>Nombre:</h4>
                <br>
                <h4>Apellido:</h4>
                <br>
                <h4>E-mail:</h4>
                <br>
            </section>
        </fieldset>
    </body>

</html>