<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear productos</title>
    <link rel="stylesheet" href="/css/estilo-registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> 
    <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <br>
      <br>
      <h1 class="titulo-principal"><a href="/">Seda & Brillo</a></h1>
      <br>
      <br>
    </header>
    <div id="errores"> </div>
    <form action="/crear" method="POST" enctype="multipart/form-data" id="form">
    
      <h1>Subir productos</h1>
      
      <fieldset>

        <label><strong>Nombre del producto</strong></label>  
        <input placeholder="Ej: Acondicionador Pantene" type="text" id="NombreProducto" name="nombre">

        <label><strong>Precio del producto</strong></label>  
        <input placeholder="Ej: 250,21" type="text" id="PrecioProducto" name="precio">

        <label><strong>Descuento</strong></label>
        <input placeholder="Ej: 20" type="text" id="DescuentoProducto" name="descuento">


        <!--<label for="CategoriaProducto"><strong>Categoría</strong></label>
        <select name="categoria">
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
          <option value="U">Unisex</option>
        </select>-->
            
        <label><strong>Descripción</strong></label>
        <textarea  id="DescripcionProducto" name="descripcion"></textarea>

        <label><strong>Imagen Producto</strong></label>
        <input type="file"  id="ImagenProducto" name="imagen"></input>
          
      </fieldset>
      
      <br>
      <br>
      <span>
          <button class="button2" type="submit" id="botonregistro" >Guardar Producto</button>
      </span>

    </form>
    <footer class="footer-dark">
      <div class="col item social"><p>Seguinos en nuestras redes sociales:</p></div>
      <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
      <p class="copyright">Seda & Brillo © 2022</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="../js/validacionProducto.js"></script>
  </body>
</html>